# Blockfrost API Key for Preprod
# Get your API key from https://blockfrost.io/
BLOCKFROST_PROVIDER_API_KEY='your-blockfrost-api-key-here'


# Ogmios WebSocket URL for Preprod
OGMIOS_PROVIDER_WS_URL='ws://ogmios-rpc.example.com'
OGMIOS_PROVIDER_HTTP_URL='https://ogmios-rpc.example.com'
