.scroll-bar-primary {
	scrollbar-width: thin;
	scrollbar-color: color-mix(in oklab, var(--muted-foreground) 45%, transparent) transparent;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: color-mix(in oklab, var(--muted-foreground) 45%, transparent);
		border-radius: 20px;
	}
	&:hover::-webkit-scrollbar-thumb {
		background: color-mix(in oklab, var(--color-primary-400) 60%, transparent);
	}
}
.scroll-bar--autohidden {
	&::-webkit-scrollbar {
		display: none;
	}
	&:hover {
		&::-webkit-scrollbar {
			display: block;
		}
	}
}
.scroll-bar-hidden {
	&::-webkit-scrollbar {
		// visibility: hidden;
		display: none;
	}
}
