@use 'sass:meta';
@include meta.load-css('base/scrollbar');

body {
	scrollbar-width: thin;
	scrollbar-color: color-mix(in oklab, var(--muted-foreground) 45%, transparent) transparent;

	&::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		background: color-mix(in oklab, var(--muted-foreground) 45%, transparent);
		border-radius: 20px;
	}
}
